:javascript
	// Initialization of Global Variables
	var credentials = "Aj7xOeHv3mwl4nqgF2ok_aFqUvIJGuYEdBcHreNG_jTbtW0aDuawEI-m8jsyrKpf";
	var searchloc, //Search location lat lng stor variable
			map = null, // map initialization variable
			gps, // user location variable
			gpspushpin, // gpspushpin variable
			directionsManager, // direction manager variable
			directionsErrorEventObj, // direction error manager variable
			directionsUpdatedEventObj; // direction update manager variable
	// End of Global Variable Initialization
	$(document).ready(function () {
		search();
		InitMap();
	});

	// Sarch Function
	function search() {
		$("#searchBox").geocomplete().bind("geocode:result", function(event, result){
				searchloc = result.geometry.location
			}).bind("geocode:error", function(event, status){
				console.log("ERROR: " + status);
			}).bind("geocode:multiple", function(event, results){
				console.log("Multiple: " + results.length + " results found");
		});
		//$("#click").click(function(){
		//	$("#searchBox").trigger("geocode");
		//});
	}
	// Map Initialization
	function InitMap() {
		//map options
		var mapOptions = {
			credentials: credentials,
			mapTypeId: Microsoft.Maps.MapTypeId.road,
			zoom: 5,
			center : new Microsoft.Maps.Location(21.0000, 78.0000),
			enableSearchLogo: false
		};
		//map initialization
		map = new Microsoft.Maps.Map(document.getElementById('mapDiv'), mapOptions);
	}