:javascript
	$(document).ready(function() {
		getMap();
		$('#click').click(function() {
			LoadSearchModule();
		});
	});
	var credentials = "Aj7xOeHv3mwl4nqgF2ok_aFqUvIJGuYEdBcHreNG_jTbtW0aDuawEI-m8jsyrKpf";
	var map = null;
	var searchManager = null;
	var query;
	function getMap() {
		map = new Microsoft.Maps.Map(document.getElementById('mapDiv'), {credentials: credentials});
	}
	function createSearchManager() {
			map.addComponent('searchManager', new Microsoft.Maps.Search.SearchManager(map));
			searchManager = map.getComponent('searchManager');
	}
	function LoadSearchModule() {
		Microsoft.Maps.loadModule('Microsoft.Maps.Search', { callback: geocodeRequest })
	}
	function geocodeRequest() {
		createSearchManager();
		//query replaced with searchBox 
		query = $('#searchBox').val();
		var userData = { name: 'Maps Test User', id: 'XYZ' };
		var request = {
				where: query,
				count: 5,
				bounds: map.getBounds(),
				callback: onGeocodeSuccess,
				errorCallback: onGeocodeFailed,
				userData: userData
		};
		searchManager.geocode(request);
	}
	function onGeocodeSuccess(result, userData) {
		if (result) { 
			map.entities.clear();
			var topResult = result.results && result.results[0];
			if (topResult) {
					var pushpin = new Microsoft.Maps.Pushpin(topResult.location, null);
					map.setView({ center: topResult.location, zoom: 10 });
					map.entities.push(pushpin);
			}
		}
	}
	function onGeocodeFailed(result, userData) {alert('Geocode failed');}