<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	<title>bm3</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>
	<script type="text/javascript">
	var map = null;
	var searchManager = null;
	function getMap() {
		map = new Microsoft.Maps.Map(document.getElementById('myMap'), {credentials: 'Aj7xOeHv3mwl4nqgF2ok_aFqUvIJGuYEdBcHreNG_jTbtW0aDuawEI-m8jsyrKpf'});
	}
	function createSearchManager() {
			map.addComponent('searchManager', new Microsoft.Maps.Search.SearchManager(map));
			searchManager = map.getComponent('searchManager');
	}
	function LoadSearchModule() {
		Microsoft.Maps.loadModule('Microsoft.Maps.Search', { callback: geocodeRequest })
	}
	function geocodeRequest() {
		createSearchManager();
		var where = 'Denver, CO';
		var userData = { name: 'Maps Test User', id: 'XYZ' };
		var request = {
				where: where,
				count: 5,
				bounds: map.getBounds(),
				callback: onGeocodeSuccess,
				errorCallback: onGeocodeFailed,
				userData: userData
		};
		searchManager.geocode(request);
	}
	function onGeocodeSuccess(result, userData) {
		if (result) { 
			map.entities.clear();
			var topResult = result.results && result.results[0];
			if (topResult) {
					var pushpin = new Microsoft.Maps.Pushpin(topResult.location, null);
					map.setView({ center: topResult.location, zoom: 10 });
					map.entities.push(pushpin);
			}
		}
	}
	function onGeocodeFailed(result, userData) {alert('Geocode failed');}
	</script>
	</head>
	<body onload="getMap();">
		<div id='myMap' style="position:relative; width:400px; height:400px;"></div>
		<div>
				<input type="button" value="Find Address" onclick="LoadSearchModule();" />
		</div>
	</body>
</html>